body{ 
    padding : 0;
    margin: 0;
    background-color: burlywood;
    color: white;
    font-family: sans-serif;
} 

div.navbar{ 
    justify-content: space-between;
    display: flex;
    top: 0;
    position: sticky;
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding : 30px; 
    display: block; 
    text-wrap: normal;

}
.Sign{
/  
    color: tomato;
}
.Sign:hover{
    transition: all 0.25s;
    color: goldenrod;
}
a{
    text-decoration: none;
    padding: 30px;
}
#right{
    margin-left: 265px;
}
.Info{
    color :aliceblue;
    text-align: left;
}
img{
   width: 500px;
   height: auto;
}
.img{
  margin-top: 30px;
  border-radius: 10px;
}
.content{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}
.home{
    display: flex;
    margin-bottom: 80px;
}
h1{
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
}
#head-line{
    margin: auto    ;
}
.footer{
 
    display: flex;  
    flex-direction: column;
    gap: 30px;
    width: 200px;
    margin: auto;

}
#h-2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: tomato;
    font-size: x-large;
    text-align: center;
    margin: auto;
    padding: 50px;
    
}
.Msg{
    padding-top: 40px;
    background-color: #333;
}
.msg_in{
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    /* display: block; */
}
button{
    color: black;
    background-color: goldenrod;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 110%;
    margin-bottom: 50px;
}
button:hover{
    padding: 15px;
    color: goldenrod    ;
    background-color: black;
    transition: all 0.25s;
}
textarea{
    width: 108%;
    border-radius: 5px;
    height: 150%;
    border: none;
    
}
footer{
    background-color: #696464;
    padding: 20px;
}
.footer_text{
    font-size: small;
    color: black;
    background-color: #696464;
}